.gdpr-banner {
    position: fixed;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    font-weight: normal;
    color: #fff;
    background-color: #333;
    bottom: 0;
    z-index: 10000;
}
@media screen and (max-width: 900px) {
    .gdpr-banner {
        text-align: center;
    }
}
.gdpr-banner__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
@media screen and (max-width: 900px) {
    .gdpr-banner__wrapper {
        display: block;
    }
}
.gdpr-banner__column {
    align-items: center;
}
.gdpr-banner__row + .gdpr-banner__row {
    margin-top: .5rem;
}
.gdpr-banner__column--1 {
    flex: 1;
}
.gdpr-banner__column--2 {
    display: flex;
    margin-left: 2rem;
}
@media screen and (max-width: 900px) {
    .gdpr-banner__column--2 {
        margin-top: 2rem;
        margin-left: 0;
        justify-content: center;
    }
}
.gdpr-banner__message {
    flex: 1;
    line-height: 1.3;
}
.gdpr-banner__settings {
    margin: 0 2rem;
}
@media screen and (max-width: 900px) {
    .gdpr-banner__settings {
        margin-left: 0;
    }
}
.gdpr-banner__settings a {
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 1px 0;
    text-decoration: none;
}
.gdpr-banner__button {
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    padding: .5em 1em;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}
.gdpr-banner__button--opt-in {
    color: #fff;
    background: green;
    margin-left: 1rem;
}
.gdpr-banner__button--opt-out {
    color: #333;
    background: #aaa;
}
.gdpr-banner__cookie-groups {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
    .gdpr-banner__cookie-groups {
        margin-top: 1rem;
        justify-content: center;
    }
}
.gdpr-banner__cookie-group:not(:last-child) {
    margin-right: 2rem;
}
.gdpr-banner__cookie-group--required {
    opacity: .8;
}
.gdpr-banner__cookie-group .gdpr-banner__label {
    cursor: pointer;
    line-height: 1;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: normal;
}
.gdpr-banner__cookie-group .gdpr-banner__checkbox {
    font-weight: normal;
    font-size: inherit;
    line-height: 1;
    margin-bottom: 0;
    margin-right: .6rem;
    position: relative;
    top: 4px;
}