<div class="gdpr-cookie-manager__cookie-item-details">

    {% if cookie.item_details | length > 0 %}
        <div class="gdpr-cookie-manager__cookie-items">
            {% for entry in cookie.item_details %}
                <div class="gdpr-cookie-manager__cookie-item">
                    <p>
                        <strong>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.name' | trans }}:</strong>
                        {{ entry.detail_name }}
                    </p>
                    {% if loop.first %}
                    <p>
                        <strong>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.provider' | trans }}:</strong>
                        {{ cookie.provider }}
                    </p>
                    {% endif %}
                    <p>
                        <strong>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.expiry' | trans }}:</strong>
                        {{ entry.detail_expiry }}
                    </p>
                    <p>
                        <strong>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.type' | trans }}:</strong>
                        {{ entry.detail_type }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="gdpr-cookie-manager__contact-details">
        {% if cookie.contact_details_dpo %}
            <div>
                <h4 class="gdpr-cookie-manager__contact-details-heading">
                    {{ 'offline.gdpr::lang.common.contact_details' | trans }}
                </h4>
                <div>
                    {{ cookie.contact_details_dpo | raw }}
                </div>
            </div>
        {% endif %}

        {% if cookie.contact_links_dpo | length > 0 %}
            <div>
                <h4 class="gdpr-cookie-manager__contact-details-heading">
                    {{ 'offline.gdpr::lang.common.links' | trans }}
                </h4>
                <ul class="gdpr-cookie-manager__contact-list">
                    {% for link in cookie.contact_links_dpo %}
                        <li>
                            <a href="{{ link.contact_link_href }}" rel="noopener nofollow" target="_blank">
                                {{ link.contact_link_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
