.gdpr-cookie-manager {
    display: flex;
    min-height: 500px;
}

@media screen and (max-width: 1100px) {
    .gdpr-cookie-manager {
        display: block;
    }
}

.gdpr-cookie-manager__groups {
    flex: 0 0 300px;
}

.gdpr-cookie-manager__group-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gdpr-cookie-manager__group-list li {
    margin: 0;
    padding: 0;
}

.gdpr-cookie-manager__group-list li:first-child .gdpr-cookie-manager__group-list-entry {
    border-top: 1px solid #e3e3e3;
}

.gdpr-cookie-manager__group-list-entry {
    display: block;
    padding: .5em 1em;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    position: relative;
    color: inherit;
}

.gdpr-cookie-manager__group-list-entry--active {
    background-color: #fff;
}

.gdpr-cookie-manager__group-list-entry--active:after {
    content: "";
    top: 0;
    right: -2px;
    width: 4px;
    height: 100%;
    position: absolute;
    background-color: #fff;
}

@media screen and (max-width: 1100px) {
    .gdpr-cookie-manager__group-list-entry,
    .gdpr-cookie-manager__group-list-entry--active {
        border-right: 1px solid #e3e3e3;
    }
    .gdpr-cookie-manager__group-list-entry--active:after {
        display: none;
    }
}

.gdpr-cookie-manager__group-list-name {
    font-weight: bold;
}

.gdpr-cookie-manager__group-list-description {
    font-size: .85rem;
    color: #666;
}

.gdpr-cookie-manager__group-list-description p {
    margin: 0;
}

.gdpr-cookie-manager__content {
    flex: 1;
    padding: 1em 2em;
    border: 1px solid #e3e3e3;
}

.gdpr-cookie-manager__content p {
    margin: 0;
}

.gdpr-cookie-manager__cookie-group {
    display: none;
}

.gdpr-cookie-manager__cookie-group--active {
    display: block;
}

.gdpr-cookie-manager__cookie {
    margin-bottom: 2rem;
    display: flex;
}

.gdpr-cookie-manager__cookie:last-child {
    margin-bottom: 0;
}

.gdpr-cookie-manager__cookie--disabled {
    opacity: .6;
}

.gdpr-cookie-manager__cookie-name {
    margin: 0;
    font-size: 1rem;
}

.gdpr-cookie-manager__cookie-description {
    font-size: 1rem;
}

.gdpr-cookie-manager__cookie-toggle {
    flex: 0 0 100px;
    margin-top: .5rem;
}

.gdpr-cookie-manager__cookie-details {
    flex: 1;
}

.gdpr-cookie-manager__cookie-levels {
    margin-top: 1rem;
}

.gdpr-cookie-manager__cookie-level {
    display: none;
    margin-top: 1rem;
}

.gdpr-cookie-manager__cookie-level--active {
    display: block;
}

.gdpr-cookie-manager__cookie-level-name {
    font-weight: bold;
    font-size: .8rem;
    margin: 0;
}

.gdpr-cookie-manager__cookie-level-description {
    font-size: .8rem;
}

.gdpr-cookie-manager__cookie-level-description p {
    margin: 0;
}

.gdpr-cookie-manager__submit-button {
    background: #e0e0e0;
    display: block;
    outline: none;
    border: none;
    margin: 0;
    padding: .5em 1em;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

/**
 * @credits to Mauricio Allende
 * @see https://codepen.io/mallendeo/pen/eLIiG
 */
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}

.tgl {
    display: none;
}

.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    background: #e0e0e0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl + .tgl-btn:after {
    left: 0;
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
}

.tgl + .tgl-btn:before {
    display: none;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl:checked + .tgl-btn {
    background: #08c300;
}

.tgl:checked:disabled + .tgl-btn {
    background: #81cb7f;
    cursor: not-allowed;
}
