<div class="gdpr-banner__cookie-group {{ group.required ? 'gdpr-banner__cookie-group--required' : '' }}">
    <label for="group_{{ group.id }}" class="gdpr-banner__label" title="{{ group.description | striptags }}">
        <input type="checkbox"
               id="group_{{ group.id }}"
               class="gdpr-banner__checkbox"
               value="{{ group.id }}"
               name="cookie[]"
               {% if group.initial_status %}
                   checked
               {% endif %}
               {% if group.required %}
                   disabled
               {% endif %}
        >
        {{ group.name }}
    </label>
</div>