<div class="gdpr-banner__opt-in">
    <button role="button" 
            tabindex="0" 
            aria-pressed="false"
            class="gdpr-banner__button gdpr-banner__button--opt-in"
            data-request="onAccept"
            data-request-success="{{
                __SELF__.hardReload
                ? 'document.location.reload()'
                : '$(\'.gdpr-banner\').remove();'
            }}"
            {% if not __SELF__.hardReload %}
                data-request-update="'{{ __SELF__.updatePartial }}' : '{{ __SELF__.updateSelector }}'"
            {% endif %}>
        {{ 'offline.gdpr::frontend.cookie_banner.accept' | trans }}
    </button>
</div>